snippet today
	`strftime('%a, %b %d %Y ')`

snippet yesterday
	`strftime('%a, %b %d %Y', localtime(strftime('%s') - 86400))`

snippet ref b
  References
  - ${0}

snippet mx
 Merchant

snippet cx
 Consumer

snippet dx
 Dasher

snippet MOS 
 merchant-onboarding-service

snippet SF
 Storefront
