snippet today
	`strftime('%a, %b %d %Y ')`

snippet ref b
  References
  - ${0}

snippet mx
 Merchant

snippet cx
 Consumer

snippet dx
 Dasher

snippet MOS 
 merchant-onboarding-service

snippet SF
 Storefront
